In [1]:
import pandas as pd
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
inputs = df.drop('salary_more_then_100k', axis = 'columns')
target = df['salary_more_then_100k']

In [5]:
inputs

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [6]:
from sklearn.preprocessing import LabelEncoder

le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [7]:
inputs['company_enc'] = le_company.fit_transform(inputs['company'])
inputs['job_enc'] = le_job.fit_transform(inputs['job'])
inputs['degree_enc'] = le_degree.fit_transform(inputs['degree'])

inputs.head()

  company                  job     degree  company_enc  job_enc  degree_enc
0  google      sales executive  bachelors            2        2           0
1  google      sales executive    masters            2        2           1
2  google     business manager  bachelors            2        0           0
3  google     business manager    masters            2        0           1
4  google  computer programmer  bachelors            2        1           0

In [9]:
inputs_cleaned = inputs.drop(['company', 'job', 'degree'], axis = 'columns')
inputs_cleaned.head()

   company_enc  job_enc  degree_enc
0            2        2           0
1            2        2           1
2            2        0           0
3            2        0           1
4            2        1           0

In [10]:
## Now the data is ready to be used for classification, hence going forward with DT implementation
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [11]:
model.fit(inputs_cleaned, target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [13]:
model.score(inputs_cleaned, target)

1.0

In [18]:
model.predict([[2, 2, 0]])

array([0], dtype=int64)